*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    list-style: none;
}
button{
    cursor: pointer;
}

.hero{
    background-image: url(Masked\ Image\ \(4\)\ 1.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}
.nav ul{
    display: flex;
    gap:10px;
    margin-right: 5px;
    font-size: 16px;
}
.nav a{
    text-decoration: none;
}
.nav h2{
    margin-left: 10px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: %; */
    margin-top: 150px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25%;
}
.hero-content h2{
    font-size: 20px;
    margin-bottom: 2%;
}
.hero-content p{
    font-size: 14px;
    margin-bottom: 4%;
}
.hero-content button{
    background: transparent;
    color: white;
    padding: 2%;
    padding-right: 4%;
    padding-left: 4%;
    border: 1px solid white;
    border-radius: 10px;
}

/* services */

.s-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-title h3{
    font-size: 30px;
    font-weight: 100;
}

.s-card{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);;
    transition: all 0.3s ease;
} 
.s-card:hover{
    transform: scale(1.03);
}
.s-card i{
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.s-card h4{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 300;
}  
.s-card p{
    margin-bottom: 15px;
}
.s-card button{
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);
}

.r-work{
    text-align: center;
}
.w-title{
    text-align: center;
    margin-top: 20px;
}
.w-title h3{
    font-size: 30px;
    font-weight: 100;
}
.w-nav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#view-btn{
 padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);    
}
.w-nav button{
    padding: 5px 10px;
    margin-right: 3px;
    border: 2px solid transparent;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}
.w-nav button:hover {
    border: 2px solid rgb(85, 190, 85);
    outline: none;
}
.work{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.work img{
    border-radius: 4px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}
.work img:hover{
    transform: scale(1.03);
}
.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.paragraph i{
    margin-top: 1%;
}

/* blog */
.our-blog{
    text-align: center;
    }
#v-all{
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);
}
.blog-title{
    text-align: center;
    margin-top: 20px;
}
.blog-title h2{
    font-weight: 200;
}
.blog{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    width: 90%;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.blog:hover{
    transform: scale(1.03);
}
.blog img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.blog h3{
    margin: 10px;
    color: rgb(85, 190, 85);
}
.blog h5{
    margin-bottom: 10px;
    color: rgb(85, 190, 85);
}
.blog p{
    margin-bottom: 20px;
}
.blog button{
   padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);
}

/* price */
/* .p-cat{
    margin: 0;
} */
#ph3{
    text-align: center;
    margin:20px 20px ;
    font-size: 30px;
    font-weight: 200;

}
.p-card{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.p-card:hover{
    transform: scale(1.03);
    border: 2px solid black;
}
.p-card h5{
    margin: 20px 20px;
    padding-bottom: 10px;
    color:  rgb(85, 190, 85);
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 100;
}
.price {
    /* margin-bottom: 16px 16px; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid  rgb(85, 190, 85);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.p-card:hover .price{
    background-color: #292a2e;
    border: black;
}
.p-card:hover .price h3{
    color: white;
}
.p-card p{
    margin-bottom: 20px;
}
.p1{
    margin-top: 20px;
}
.p-card button{
       padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);
    background-color: rgb(85, 190, 85);
}

/* achie */
.achive{
   background-image: url(Subtract.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.achivement i{
    font-size: 30px;
    margin: 10px 5px;
}
.achivement h4{
    font-size: 20px;
    margin-bottom: 3px;
}

/* team */
.t-title h3{
    padding-top:10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.t-card{
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border-radius: 4px;
}
.t-card img{
    width: 100%;
}
.t-card h5{
    font-size: 20px;
    margin: 10px 6px;
}
.t-card a{
    display: inline-block;
    color: rgb(85, 190, 85);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;

}

/* socail */
.social{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    justify-content: center;
}
.social img{
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}
.s-img{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CONTACT */

.contact {
    width: 100%;
    padding: 30px 0;
}

/* Title */

.c-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-title h3 {
    font-size: 28px;
    font-weight: 200;
    margin: 0;
}


/* Talk to us */

.c-content {
    width: 90%;
    margin: 30px auto 0;
}

.c-content h4 {
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 15px;
}

.c-content p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}


/* Contact information */

.c-form {
    width: 90%;
    margin: 30px auto 0;
}

.c-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.c-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.c-item {
    display: flex;
    align-items: flex-start;
}

.c-icon {
    width: 35px;
    margin-right: 12px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.c-icon i {
    font-size: 20px;
}

.info h5 {
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: 400;
}

.info p {
    margin: 0;
    font-size: 13px;
}

/* Form */

.form {
    width: 100%;
    margin-top: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 100%;
    padding: 13px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form textarea {
    width: 100%;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.form button {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(85, 190, 85);
    float: right;
}
 .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 /* .footer-box{
    width: 100%;
 } */
/* FOOTER */

.footer {
    background-color: #292a2e;
    background-image: url();
    color: white;
    padding: 40px 25px 25px;
    margin-top:30px ;
}

/* Footer content */

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-box,
.footer-flick {
    width: 100%;
}

/* Heading */

.footer-box h3,
.footer-flick h3 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Paragraph */

.footer-box p {
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 18px;
    color: #eee;
}

/* Recent Posts */

.footer-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-box li {
    font-size: 12px;
    margin-bottom: 15px;
    color: #eee;
}

.footer-box li::before {
    content: "•";
    color: rgb(25, 190, 165);
    margin-right: 10px;
}

/* Flickr */

.footer-flick {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.footer-flick h3 {
    width: 100%;
}

.footer-flick img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/* Social icons */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.social a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

/* Copyright */
.copyright {
    text-align: center;
    font-size: 10px;
    margin-top: 25px;
    color: #eee;
}








/* tablet*/
@media (min-width: 768px){
    /* nav-bar */
    .hero-content h2{
        font-size: 28px;
    }
    .nav ul{
        gap:20px;
        margin-right: 10px;
        font-size: 20px;
    }
    .nav h2{
        font-size: 30px;
    }
    
    .hero-content{
        width: 70%;
        margin-left: 18%;
        margin-right: 0;
        margin-top: 20%;
    }


    .s-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    
    }
    .s-card{
        width: 40%;
        text-align: center;
    } 

    .work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
         align-items: center;
        gap: 10px;
        margin: 10px;
    
    }
    .work img{
        width: 25%;
    }
    #view-btn{
        font-size: 18px;
    }

    .w-nav button{
        padding: 5px 10px;
        font-size: 22px;
    }   
    .blog-title{
        font-size: 24px;
    }
    .blog h3{
        font-size: 22px;
    }
    .blog h5{
        font-size: 18px;
    }
    .blog p{
        font-size: 16px;
    }
    .blog button{
        font-size: 18px;
    }

    .p-cat{
        display: flex;
       flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .p-card{
        width: 40%;
    }

    /* achive */
    .achive{
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .achivement i{
        font-size: 60px;
    }
    .achivement h4{
        font-size: 30px;
    }
    .achivement p{
        font-size: 18px;
    }

    /* team */
    .Team{
        flex-direction: row;
    }
    .t-card{
        width: 23%;
    }
      
    /* .social{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    } */
     .s-img{
        display: flex;
        align-items: center;
        justify-content: space-evenly; 
        margin-top: 15px 15px; 
    
    }
    .s-img img{
        width: 10%;

    }

       .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .c-title {
        grid-column: 1 / -1;
    }

    .c-content {
        width: 100%;
        margin-top: 40px;
    }

    .c-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .c-item {
        display: flex;
        align-items: flex-start;
    }

    .c-form {
        width: 100%;
        margin-top: 40px;
    }

    .form {
        width: 100%;
    }


    /* footer */

     .footer {
        padding: 45px 7% 30px;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 25px;
    }

    .footer-box,
    .footer-flick {
        width: 25%;
    }

    /* Headings */
    .footer-box h3,
    .footer-flick h3 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 22px;
    }

    /* Paragraph */
    .footer-box p {
        font-size: 10px;
        line-height: 1.8;
        margin-bottom: 15px;
    }

    /* Recent Posts */
    .footer-box ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .footer-box li {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .footer-box li::before {
        content: "•";
        color: rgb(25, 190, 165);
        margin-right: 10px;
    }

    /* Flickr */
    .footer-flick {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 5px;
    }

    .footer-flick h3 {
        width: 100%;
    }

    .footer-flick img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 3px;
    }

    /* Social icons */
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 55px;
    }

    .social a {
        color: white;
        font-size: 17px;
        text-decoration: none;
    }

    /* Copyright */
    .copyright {
        text-align: center;
        font-size: 10px;
        margin-top: 25px;
    }
       
    
}












@media (min-width: 1024px){
    
      .hero-content{
        width: 50%;
        margin-left: 25%;
        margin-right: 0;
        margin-top: 12%;
    }
    .hero-content h2{
        font-size: 34px;
    }

    .s-card{
        width: 21%;
        text-align: center;
    } 

    .w-nav button{
        padding: 10px 20px;
        font-size: 20px;
    }

    #view-btn{
        margin-top: 20px 20px;
        padding: 10px 20px;
    }

    /* blog */
    .blogs{
         display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .blog{
        width: 40%;
    }
    #v-all{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(85, 190, 85);
}

.p-card{
    width: 23%;
}

    .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }

    .c-title {
        grid-column: 1 / -1;
    }

    .c-content {
        width: 100%;
        margin-top: 40px;
    }

    .c-form {
        width: 100%;
        margin-top: 40px;
    }

    /* footer */
  
    .footer-box h3,
    .footer-flick h3{
        font-size: 28px;
    }
    .footer-box p,
    .footer-box li{
        font-size:14px ;
    }
    .social a{
        font-size: 25px;
    }
    .copyright{
        font-size: 14px;
    }
    .footer-flick img{
        width: 80px;
        height: 80px;

        
    }

}
