*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.the-7{
    position: relative;
}
.the-7 img{
    width: 100%;
    display: block;
}
.title-page{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
}
.nav-bar ul{
    display: flex;
    gap:10px;
    margin-right: 1%;
    list-style: none;
    font-size: 12px;
}
.nav-bar h3{
    margin-left: 1%;
    font-size: 12px;
}
.home{
    color: aqua;
}

.hero{
    display: flex;
    align-items: center;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
}